/* Styles for the app */

body {
  padding-top: 3.5rem;
}

.flash {
  margin-bottom: 1rem;
  padding: 1rem;
  border-style: solid;
  border-width: 1px;
  border-left-width: 10px;
  border-color: green;
  color: #006700;
}

.flash > .badge {
  float: right;
}

.badge {
  background-color: #006700;
}

.flash.info {
  border-color: teal;
  color: #006767;
}

.badge.info {
  background-color: #006767;
}

.flash.warning {
  border-color: darkorange;
  color: #b44700;
}

.badge.warning {
  background-color: #b44700;
}

.flash.danger,
.flash.error {
  border-color: red;
  color: #e60000;
}

.badge.danger {
  background-color: #e60000;
}

.table-wrapper {
  overflow-x: auto;
}

table.dataframe {
  white-space: pre-wrap;
}
