{% extends 'base.html' %}
{%- set active_page = menu_parent -%}

{% block title %}Documentation{% endblock %}

{% block content %}
  {% if content is none %}<h1>Documentation</h1>{% else %}<h5>Documentation</h5>{% endif %}
  <hr>
  <div class="row">
    <div class="col-md-8 col-xl-9">
      <article>
        {% block main %}
          {% if content is none %}
            {% include 'snippets/docs-placeholder.html' %}
          {% else %}
            {% include 'components/markdown.html' %}
          {% endif %}
        {% endblock %}
      </article>
    </div>
    <div class="col-md-4 col-xl-3">
      <aside aria-label="sidebar">
        <div class="card">
          <div class="card-header">Directory tree</div>
          <div class="card-body" aria-label="Documentation navigation" role="navigation">
            {% block sidebar %}
              {% with element='ul', dict=menu, prefix='docs' %}
                {% include 'components/list.html' %}
              {% endwith %}
            {% endblock %}
          </div>
        </div>
      </aside>
    </div>
  </div>
{% endblock %}
