{% extends 'base.html' %}
{%- set active_page = menu_parent -%}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>Welcome to the ECHE List API</h1>
  <p class="lead">Higher education institutions holding an ECHE - 2021-2027</p>
  <hr>
  <p>This API exposes all Institutions that currently hold the <a href="https://erasmus-plus.ec.europa.eu/document/higher-education-institutions-holding-an-eche-2021-2027" target="_blank" rel="noopener">Erasmus Charter for Higher Education<span class="visually-hidden-focusable"> (opens in a new tab)</span></a> as published by the European Commission.</p>
  <p>All the data fields contained in the original list are made available to client applications. Additionally, some processed values are also provided to respond to more specific use cases.</p>
  <p>You will find more information in the following sections.</p>
  <div class="row">
    <div class="col-md-6 d-flex">
      <div class="card mb-4 flex-fill">
        <div class="card-header">
          <a class="link-dark" href="/docs">
            <h2 class="card-heading h5">Documentation</h2>
          </a>
        </div>
        <div class="card-body">
          <p>This section collects all the documentation related to this application.</p>
          <p>All the documentation files can be found in the <a href="https://github.com/EuropeanUniversityFoundation/eche-api" target="_blank" rel="noopener">GitHub repository<span class="visually-hidden-focusable"> (opens in a new tab)</span></a> as well.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex">
      <div class="card mb-4 flex-fill">
        <div class="card-header">
          <a class="link-dark" href="/explore">
            <h2 class="card-heading h5">Explore</h2>
          </a>
        </div>
        <div class="card-body">
          <p>Explore the data via the web UI.</p>
          <p><em>Under active development.</em></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex">
      <div class="card mb-4 flex-fill">
        <div class="card-header">
          <a class="link-dark" href="/report">
            <h2 class="card-heading h5">Status report</h2>
          </a>
        </div>
        <div class="card-body">
          <p>Browse any issues detected during data processing.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex">
      <div class="card mb-4 flex-fill">
        <div class="card-header">
          <a class="link-dark" href="/openapi" target="_blank" rel="noopener">
            <h2 class="card-heading h5">Specification</h2>
            <span class="visually-hidden-focusable">(opens in a new tab)</span>
          </a>
        </div>
        <div class="card-body">
          <p>Read the OpenAPI specification for the ECHE List API.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex">
      <div class="card mb-4 flex-fill">
        <div class="card-header">
          <a class="link-dark" href="/api" target="_blank" rel="noopener">
            <h2 class="card-heading h5">API</h2>
            <span class="visually-hidden-focusable">(opens in a new tab)</span>
          </a>
        </div>
        <div class="card-body">
          <p>Access the API.</p>
          <p><em>Not user friendly.</em></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
