{% extends 'base.html' %}
{%- set active_page = menu_parent -%}

{% block content %}
  <h1>{% block title %}Status report{% endblock %}</h1>
  <p class="lead">Displays any issues detected during data processing.</p>
  <hr>
  {{ issues }}
  <hr>
  <h2>Legend</h2>
  <br>
  <div class="flash success"><strong>Success</strong>: No issues found.</div>
  <div class="flash warning"><strong>Warning</strong>: These issues may cause unexpected behaviour in client applications.</div>
  <div class="flash danger"><strong>Danger</strong>: These issues may cause client applications to fail.</div>
  <div class="flash info"><strong>Info</strong>: For informational purposes only.</div>
{% endblock %}
